/* footer.css */
footer{
  width:1000px; margin:5px auto; height:150px;
  overflow:hidden;
}
footer div.office{
  float:left;
  width:33.3%;
  height:100px;
  border:1px solid gray;
  box-sizing:border-box;
}
footer div:last-child{
  clear:both;
  background-color:black;
  height:50px; line-height:50px; text-align:center;
  color:white;
}