/***** 페이지 초기화 *****/
*{margin:0; padding:0;}
a{
  text-decoration:none; color:purple;
  font-weight:bold; 
  display:block;
}
li{list-style:none;}
div{
    border:1px solid lightgray;
    margin:5px; padding:5px;
    text-align:center;
}
/***** 페이지 전체를 가운데로 *****/
#contain{
    width:800px; margin:0 auto;
}
/* * * * * * * #header * * * * * * */
#header {
  height: 100px;
  line-height: 100px;
  background-color: yellow;
}
/* * * * * * * #nav * * * * * * */
#nav p {
  height: 40px;
  line-height: 40px;
}
#nav ul {
  width: 720px; /* ( 140:메뉴하나당width + 4:메뉴하나당 양쪽margin) * 5 = 720 */
  margin: 0 auto;
  overflow: hidden;
}
#nav ul li {
  float: left;
  width: 140px;
  height: 50px;/* 서브메뉴시 제거할 예정 */
  line-height: 50px;
  background-color: pink;
  margin: 2px;
}
#nav ul li:first-child {
  border-radius: 20px 0 0 20px;
}
#nav ul li:last-child {
  border-radius: 0 20px 20px 0;
}
/* * * * * * * section * * * * * * */
#section {
  /*width:778px; 전체 800px에서 margin과 padding, border 뺀 것*/
  overflow:hidden;
}
#section #content {
  width: 576px; /* 578 + 10(좌우margin) + 10(좌우padding) + 2(좌우border)=600px 필요 */
  height: 200px;
  float: left;
}
#section #banner {
  width: 156px; /* 778-600 = 178에서 22(좌우margin, padding, border)빼면 156px 필요*/
  height: 200px;
  float: left;
}
/* * * * * * * footer * * * * * * */
#footer {
  height: 100px;
  line-height: 100px;
  background-color: yellow;
}