{% extends "base.html" %}
{% block content %}
<div class="container py-4 text-center">
  <div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">To-Do List</h1>
      <form action="/create" method="post">
        <div class="input-group">
          <span class="input-group-text">할일</span>
          <input type="text" name="contents" placeholder="할일"
                class="form-control"  required>
          <input class="btn btn-dark" type="submit" value="등록">
        </div>
      </form>
    </div>
    <table class="table table-info table-hover">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">할일</th>
          <th scope="col">수행여부</th>
        </tr>
      </thead>
      <tbody>
        {% if todos %}
          {% for todo in todos %}
            <tr onclick="location.href='/todos/{{ todo['id'] }}'">
              <th scope="row">{{ todo['id'] }}</th>
              <td>
                {% if todo['is_done'] %}
                  <del>{{ todo['contents'] }}</del>
                {% else %}
                  <b>{{ todo['contents'] }}</b>
                {% endif %}
              </td>
              <td>
                {{ '완료' if todo['is_done'] else '미완료' }}
              </td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="3" class="text-center">등록된 todo가 없습니다</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
    <form action="">
      <select name="order" onchange="this.form.submit()">
        <option value=""
                {% if order != 'DESC' %}
                  selected="selected"
                {% endif %}
        >오름차순</option>
        <option value="DESC"
                {% if order == 'DESC' %}
                  selected="selected"
                {% endif %}
        >내림차순</option>
      </select>
    </form>
  </div>
</div>
{% endblock %}








