<div class="d-flex">
  <div class="dropdown me-1">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
      BLOG
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/blog/">list</a></li>
    </ul>
  </div>
  <div class="btn-group">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
      BOOK
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/book/">LIST</a></li>
      <li><a class="dropdown-item" href="/book/new">NEW</a></li>
    </ul>
  </div>
</div>